<th:block th:fragment="card">

    <div class="form-card container-flux pb-2 mt-1">

        <div class="row px-2">

            <div id="image-container" class="col-lg-7 col-12">
                <img id="image" th:src="@{/imgs/{id}.jpg(id=${domain.id})}" class="form-img card-img-top mt-1" alt="...">
            </div>
            
            <div class="col-lg-5 col-12 mt-2">
                <th:block th:replace="~{components/workbench/form :: form}"></th:block>
            </div>
            
        </div>

    </div>

</th:block>