<th:block th:fragment="form">

    <div class="row workbench-form-header me-3 mt-1">

        <div class="col-3">
            <div class="header row">
                <a href="#" class="col-1">
                    <span class="form-volta-pagina arrow">&lt;</span>
                </a>
                <div class="form-pagination col-10 my-2">
                    435000 / 435000
                </div>
                <a href="#" class="col-1">
                    <span class="form-avanca-pagina arrow">&gt;</span>
                </a>
            </div>
        </div>


        <div class="col-9">
            <div class="form-rectangle">
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
                <div class="form-square"></div>
            </div>
        </div>
    </div>

    <form class="mt-4" action="/test" method="post">
        <div class="mt-3">
            <select id="form-parameters" name="form-parameters" 
                    class="form-select" aria-label="Marcação no banco default">
                    <option th:each="p : ${parameters}" 
                        th:value="${p.name}" th:text="${p.name}"
                        th:color="${p.color}"></option>
                    </select>
        </div>

        <div class="mt-3">
            <select id="form-classification" name="form-classification" 
                    class="form-select" aria-label="Marcação no banco default">
                <option th:each="p : ${classifications}" 
                    th:value="${p.name}" th:text="${p.name}"
                    th:color="${p.color}"></option>
                </select>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>

</th:block>