<th:block th:fragment="form">

    <div class="form-page-div py-1 row me-1">

        <!-- PAGINATION -->
        <div class="col-2 ps-1 pagination">

            <a class="page-link arrow" th:href="'/?page=' + ${page - 1}">
                <span aria-hidden="true">&laquo;</span>
            </a>

            <div class="input-group">
                <input id="page-number" type="text" 
                        class="page-link form-control" 
                        th:value="${domains.getPageable().getPageNumber()}"
                        onkeydown="goToPage(event)">
                </input>
            </div>

            <a class="page-link arrow" th:href="'/?page=' + ${page + 1}">
                <span aria-hidden="true">&raquo;</span>
            </a>

        </div>

        
        <!-- SQUARES -->
        <div class="col-9 p-0">
            <div class="form-rectangle">
                <a th:each ="domain, status : ${domains}" 
                   th:attr="href=@{'/?page=' + ${page} + '&item=' + ${status.index}}"
                   class = "form-link-page">

                    <div class = "form-square"
                        th:classappend="(${!domain.isValid} ? 'form-square-notvalid' 
                        : (${!domain.isClear} ? 'form-square-notclear' 
                        : (${domain.isMapped} ? 'form-square-mapped' 
                        : '')))
                        + (${status.index == item} ? ' form-square-selected' : ' form-square-deselected')">
                        <span th:if="${status.index == item}" th:text="X"></span>
                    </div>
                </a>
            </div>
        </div>

    </div>



    <!-- FORM -->
    <form class="mt-4" action="/test" method="post">

        <!-- FIRST FORM ITEM : [REGULAMENTACAO | INDICATIVA | ...] -->
        <div class="mt-3">
            <select id="form-parameters" name="form-parameters" class="form-select">
                <option th:each="p : ${parameters}" 
                        th:value="${p.name}" 
                        th:text="${p.name}" 
                        th:color="${p.color}">
                </option>
            </select>
        </div>

        <!-- SECOND FORM ITEM : [BOA | REGULAR | RUIM] -->
        <div class="mt-3">
            <select id="form-classification" name="form-classification" class="form-select">
                <option th:each="p : ${classifications}" 
                        th:value="${p.name}" 
                        th:text="${p.name}" 
                        th:color="${p.color}">
                </option>
            </select>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>

</th:block>