<th:block th:fragment="form">

    <div class="row form-page-div py-1 mx-1 mt-2 d-flex justify-content-center">

        <!-- PAGINATION -->
        <div class="col-12 col-lg-9 px-2 col-xl-7 pagination">

            <a class="page-link arrow" th:href="'/?page=' + ${page - 1}">
                <span aria-hidden="true" style="display: inline-block; width: 35px;">
                    <<
                </span>
            </a>

            <a class="page-link arrow" th:href="'/?page=' + ${page} + '&item=' + ${item-1}">
                <span aria-hidden="true" style="display: inline-block; width: 8px;">
                    <
                </span>
            </a>

            <div class="input-group mx-1">
                <input id="page-number" type="text" 
                        class="page-link form-control" 
                        th:value="${page}"
                        style="width: 40px"
                        onkeydown="goToPage(event)">
                </input>
            </div>

            <a class="page-link arrow" th:href="'/?page=' + ${page} + '&item=' + ${item+1}">
                <span aria-hidden="true" style="display: inline-block; width: 8px;">
                    >
                </span>
            </a>

            <a class="page-link arrow" th:href="'/?page=' + ${page + 1}">
                <span aria-hidden="true" style="display: inline-block; width: 35px;">
                    >>
                </span>
            </a>

        </div>

        
        <!-- SQUARES -->
        <div class="col-12 p-0">
            <div class="form-rectangle">
                <a th:each ="domain, status : ${domains}" 
                   th:attr="href=@{'/?page=' + ${page} + '&item=' + ${status.index}}"
                   class = "form-link-page">

                    <div class = "form-square"
                        th:classappend="(${!domain.isValid} ? 'form-square-notvalid' 
                        : (${domain.isMapped} ? 'form-square-mapped' 
                        : ''))
                        + (${status.index == item} ? ' form-square-selected' : ' form-square-deselected')">
                        <span th:if="${status.index == item}" th:text="X"></span>
                    </div>
                </a>
            </div>
        </div>

    </div>



    <!-- FORM -->
    <form class="mt-4" th:action="@{/post/{id}(id=${domain.id})}" method="post">

        <input id="form-id" type="hidden" name="id" th:value="${domain.id}">
        <input id="form-page" type="hidden" name="nextPage" th:value="'/?page=' + ${page} + '&item=' + ${item+1}">

        <!-- FIRST FORM ITEM : [REGULAMENTACAO | INDICATIVA | ...] -->
        <div class="mt-3">
            <select id="form-primaryLayer" name="primaryLayer" class="form-select">
                <option th:each="p : ${primaryLayer}" 
                        th:text="${p.name}" 
                        th:value="${p.name}" 
                        th:color="${p.color}"
                        th:selected="${domain.primaryLayer == p.name}">
                </option>
            </select>
        </div>

        <!-- SECOND FORM ITEM : [BOA | REGULAR | RUIM] -->
        <div class="mt-3">
            <select id="form-secondaryLayer" name="secondaryLayer" class="form-select">
                <option th:each="p : ${secondaryLayer}" 
                        th:text="${p.name}" 
                        th:value="${p.name}" 
                        th:color="${p.color}"
                        th:selected="${domain.secondaryLayer == p.name}">
                </option>
            </select>
            </select>
        </div>
 

        <div class="row mt-4">

            <div class="col-6">
                <button id="btn-delete" 
                        type="submit"
                        name="method"
                        value="DELETE"
                        class="btn btn-danger">
                            Deletar
                </button>
            </div>

            <div class="col-6 d-flex justify-content-end">
                <button id="btn-save" 
                        name="method"
                        value="SAVE"
                        type="submit">
                            Salvar
                </button>
            </div>
        </div>
    </form>

</th:block>