<th:block th:fragment="navbar">

    <nav class="menu-principal navbar navbar-expand-lg navbar-lighte bg-light sticky-top">
        
        <a class="github-icon" href="https://github.com/victordalosto" target="_blank"><i class="fab fa-github"></i></a>

        <a class="nav-title navbar-brand ms-4" href="#">
            Infra Trainer
        </a>
        
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mx-3" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">

                <li class="menu-principal-item nav-item">
                    <a class="nav-link" href="/"
                    th:classappend="${domains != null ? ' active' : ''}">
                        Home
                    </a>
                </li>

                <li class="menu-principal-item nav-item">
                    <a class="nav-link" href="/history"
                       th:classappend="${domains == null ? ' active' : ''}">
                        Historico
                    </a>
                </li>

            </ul>
        </div>

    </nav>
    
</th:block>