<th:block th:fragment="page-link">


    <div class="pagination">

    
        <a class="page-link arrow" th:href="'/?page=' + ${page - 1} + (${layer1} ? ('&layer1=' + ${layer1}) : '') + (${layer2} ? ('&layer2=' + ${layer2}) : '')">
        <span aria-hidden="true" style="display: inline-block; width: 35px;">
            &lt;&lt; </span>
    </a>

    <div class="input-group mx-2">
        <input id="page-number" type="text" class="page-link form-control" th:value="${page}" style="width: 40px"
            onkeydown="goToPage(event)">
        </input>
    </div>
    <span th:value="${layer1}"></span>

    <a class="page-link arrow" th:href="'/?page=' + ${page + 1} + (${layer1} ? ('&layer1=' + ${layer1}) : '') + (${layer2} ? ('&layer2=' + ${layer2}) : '')">
        <span aria-hidden="true" style="display: inline-block; width: 35px;">
            >>
        </span>
    </a>

</div>

</th:block>