.form-card {
    margin: 1em;
    box-shadow: 0 0 5px 5px rgba(20, 20, 20, 0.05);
    border-radius: 12px;
}


.form-img {
    border-radius: 12px;
}


.form-page-div {
    border: 1px solid rgba(20, 20, 20, 0.1);
    border-radius: 8px;
    align-items: center;
}


.arrow {
    background-color: var(--green-principal);
    color: white;
}


.page-link {
    font-size: 16px;
    text-align: center;
}


.page-link::placeholder {
    font-size: 12px;
}


#page-number {
    color: var(--green-principal);
}
