.form-card {
    margin: 0.5em;
    box-shadow: 2px 3px 3px 3px rgba(20, 20, 20, 0.05);
    border-radius: 8px;
}


.form-img {
    border-radius: 12px;
}


.form-page-div {
    border: 1px solid rgba(20, 20, 20, 0.1);
    border-radius: 8px;
    align-items: center;
}


.arrow {
    background-color: var(--green-principal);
    color: white;
}


.page-link {
    font-size: 14px;
    text-align: center;
}


.page-link::placeholder {
    font-size: 12px;
}


#page-number {
    color: var(--green-principal);
}
