.arrow {
    background-color: var(--blue-principal);
    color: white;
    border-radius: 5px;
}


.page-link {
    font-size: 14px;
    text-align: center;
}


.page-link-secondary{
    height: 30px;
    font-size: 12px;
}


.page-link::placeholder {
    font-size: 12px;
}


#page-number {
    color: var(--blue-principal);
}
