#form-primaryLayer,
#form-secondaryLayer {
    border-width: 3px;
}


.form-rectangle {
    display: flex;
    justify-content: center;
}


.form-link-page {
    color:inherit;
    text-decoration: inherit;
}


.form-square {
    width: 1.5em;
    height: 1.5em;
    background-color: rgb(165, 161, 161);
    margin: 5px;
    border: 0.5px rgba(129, 128, 128, 0.3) solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  rgb(247, 247, 247);
    font-weight: 600;
    font-family: monospace;
}


.form-square-selected {
    border: 2.5px solid rgb(15, 15, 15);
    border-radius: 5px;
    box-shadow: 0 0 3px 1px rgba(20, 20, 20, 0.5)
}


.form-square-deselected {
    opacity: 0.32;
}


.form-square-mapped {
    background-color: var(--green-principal);
}


.form-square-notclear {
    background-color: orange;
}


.form-square-notvalid {
    background-color: red;
}


#btn-save {
    background-color: var(--green-principal);
    border: 0px;
    border-radius: 4px;
    color: rgb(247, 247, 247);
    box-shadow: 2px 2px 1px 1px rgba(61, 61, 61, 0.5);
    font-weight: 600;
    width: 300px;
}


#btn-delete {
    width: 100px;
}


#btn-save:hover {
    transition: 0.05s;
    background-color: rgb(251, 250, 250);
    border: 2px solid var(--green-principal);
    color: var(--green-principal);
}