.text-contador {
    font-size: 14px;
    color: rgb(99, 97, 97);
    font-family: var(--bs-font-sans-serif);
    text-decoration: none;
}


.form-rectangle {
    display: flex;
    justify-content: center;
}


.form-square {
    width: 1.6em;
    height: 1.7em;
    background-color: rgb(165, 161, 161);
    margin: 1px;
    margin-top: 1px;
    border: 0.5px rgba(129, 128, 128, 0.2) solid;
    border-radius: 4px;
}


.form-square-selected {
    box-shadow: 0 0 1px 0.2px rgba(20, 20, 20, 0.5)
}


.form-square-deselected {
    opacity: 0.32;
}


.form-square-mapped {
    background-color: var(--green-principal);
}


.form-square-notclear {
    background-color: orange;
}


.form-square-notvalid {
    background-color: red;
}


.form-select {
    height:50px;
    font-size: 20px;
}

#form-layer1,
#form-layer2 {
    border-width: 3px;
    font-weight: 600;
}


#btn-save,
#btn-delete {
    height:50px;
    font-weight: 500;
}

#btn-save {
    background-color: var(--green-principal);
    border: 0.1px solid white;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    width: 130px;
    font-family: var(--bs-font-sans-serif);
}

#btn-delete {
    width: 110px;
}



#btn-save:hover {
    transition: 0.05s;
    background-color: rgb(251, 250, 250);
    border: 3px solid var(--green-principal);
    color: var(--green-principal);
}