.menu-principal {
    box-shadow: 0 0 10px -5px rgba(20, 20, 20, 0.5)
}


.menu-principal-item {
    padding: 0 10px;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.5s ease-in;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.menu-principal-item a {
    color: rgba(131, 129, 129, 0.85);
}


.menu-principal-item .active {
    color: rgba(5, 5, 5, 0.6);
    font-weight: bold;
}


.github-icon {
    padding-right: 3em;
    color: var(--green-principal);
}


.github-icon i {
    font-size: 35px;
}


.github-icon:hover {
    color: #000000;
    transition: all 0.2s ease-in-out;
}

.nav-title {
    font-size: 20px;
    font-weight: 600;
}