.nav-principal {
    background-color: var(--blue-principal) !important;
}


.nav-title {
    font-size: 19px;
    font-weight: 700;
}


.menu-principal-item {
    font-size: 15px;
    font-weight: 400;
    transition: all 0.5s ease-in;
}


.menu-principal-item .active {
    color: rgba(5, 5, 5, 0.6);
    font-weight: bold;
}


.github-icon {
    color: white;
}


.github-icon i {
    font-size: 35px;
}


.github-icon:hover {
    color: #afaaaa;
    transition: all 0.2s ease-in-out;
}